{% extends "main.html" %}

{% block main_content %}
    <div class="col-md-12">
        <table class="table table-striped table-hover">
            <caption>Your tournaments</caption>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Date</th>
                    <th>Sites</th>
                </tr>
            </thead>
            <tbody>
                {% for tournament in tournaments %}
                    <tr>
                        <td><a href="/edit_tournament/{{ tournament.id }}">{{ tournament.name }}</a></td>
                        <td>{{ tournament.date }}</td>
                        <td>
                            {% for site in tournament.tournamentsite_set.all %}
                                <p><a href="/edit_site/{{ site.id }}">{{ site.site_name }}</a></p>
                            {% endfor %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}